body {
    font-family: Arial, sans-serif;
}

.text {
    display: flex; 
    justify-content: center;
    align-items: top;
    background: lightcoral;
    text-align: center;
}

.text p {
    margin: auto;
    padding: 10%;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

img {
    width: 80%;
    height: auto;
}

.div-wrapper {
    max-width: 1130px;
    min-height: 660px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.hidden {
    display: none;
}