@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;

    scrollbar-width: thin;
}

body {
    margin: 0;
}
@media screen and (max-width: 1000px) {
    * {
        font-size: 22px;
    }

}
@media screen and (max-width: 800px) {
    * {
        font-size: 20px;
    }

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32rem;
    gap: 1rem;

    background-color: #f9f9f9;
}

.header-left {
    width: 15rem;
    text-align: left;
}

.header-left img {
    width: 1.5rem;
    
    transition: transform 0.3s;
}

.header-left img:hover {
    transform: scale(1.3);
}

.header-left p {
    font-size: 1.1rem;
}

.header-left-text p{
    font-size: 0.75rem;
    color: #5c5c5c;
}

.header-right {
    width: 15rem;
}

.header-right img {
    max-width: 15rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.2rem rgb(128, 128, 128);
}

@media screen and (max-width: 1000px) {
    .header-right {
        width: 10rem;
    }

    .header-right img {
        width: 10rem;
    }

}

.down-arrow {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.down-arrow img{
    width: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
    transition: 0.3s;
}

.down-arrow img:hover {
    background-color: #dddddd;
}

.projects {
    padding: 3rem;
    text-align: center;
}

.projects h2{
    font-size: 1.1rem;
}

.div-wrapper {
    width: 40rem;
    height: 20rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

@media screen and (max-width: 1000px) {
    .div-wrapper {
        grid-template-columns: 1fr;
        height: auto;
        width: auto;
    }

    .media {
        width: 80%;
        margin: auto;
    }

}

.text {
    justify-content: center;
    margin: auto;
    text-align: center;

    padding: 1rem;
}

.text h3 {
    font-size: 1.1rem;
}

.text p {
    color: #5c5c5c;
    font-size: 0.75rem;
    margin: auto;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.2rem rgb(128, 128, 128);

    transition: 0.3s;
}

.media img:hover {
    transform: scale(1.05);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.links a {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;

    padding: 0.25rem;
    border-radius: 0.5rem;

    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #dddddd;
}

.links img {
    width: 1.5rem;
    margin-left: 1rem;
}

.weiter {
    padding: 0.3rem;
    border-radius: 0.5rem;

    transition: 0.3s;
}

.weiter:hover {
    background-color: #dddddd;
}

.contact {
    height: 10rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    width: 2rem;
    margin: 0.5rem;
}

.contact-icon img{
    width: 100%;
}

.contact a {
    text-decoration: none;
    border-radius: 0.5rem;

    transition: 0.3s;
}

.contact a:hover {
    background-color: #dddddd;
}

.email {
    margin: 0.5rem;
}

.email p{
    margin: 0;
    font-size: 0.75rem;

    margin-block-start: 0px;
    margin-block-end: 0px;
}
